{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
    <ul>
        {% if request.user == post.author or user.is_superuser %}
		<li>
			<form action="{% url 'edit_post' id=post.id %}" method="get">
				{% csrf_token %}
				<button type="submit">Edit</button>
			</form>
		</li>
		{% endif %}
        {% if post.edited == True %}
        <p class="date">Last edited {{ post.updated|timesince }} ago by {{ post.editor }}</p>
        {% endif %}
	<p class="date">Published {{ post.publish|timesince }} ago by {{ post.author }}</p>
		{{ post.body|linebreaks }}
    <h1></h1>
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created|timesince }} ago</p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
    {% if user.is_authenticated %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {%  endif %}
    {%  endif %}

{% endblock %}

